@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --accent: #556ff6;
  --black: #242424;
  --gray: #e0e0e0;
}

html {
  width: 100%;
  height: 100vh;
  font-size: 10px;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: unset;
  border: unset;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

/* Header Start */
/* Navigation start */

.navigation {
  height: 80px;
  background-color: #fffffff7;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  z-index: 999;
}

.navigation .logo {
  width: 14rem;
}

.navigation .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.navigation .main-menu .menu-item {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navigation .main-menu .menu-item:hover {
  color: #2a2a2a;
  font-weight: 500;
}

.nav-btn {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}

.navigation .nav-toggele {
  display: none;
  font-size: 2.8rem;
  font-weight: 800;
}

/* Fade in animation */
.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(23, 51, 72);
  background: -moz-linear-gradient(
    90deg,
    rgba(23, 51, 72, 1) 0%,
    rgba(23, 51, 72, 1) 35%,
    rgba(82, 133, 180, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(23, 51, 72, 1) 0%,
    rgba(23, 51, 72, 1) 35%,
    rgba(82, 133, 180, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(23, 51, 72, 1) 0%,
    rgba(23, 51, 72, 1) 35%,
    rgba(82, 133, 180, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#173348",endColorstr="#5285b4",GradientType=1);
  height: 400px;
  margin-top: 14rem;
  padding: 0 0 0 4rem;
  border-radius: 4rem;
  overflow: hidden;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 120%;
  position: relative;
  top: 8rem;
  /* position: absolute; */
}

.hero-content {
  width: 100%;
}

.hero-content p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.hero-content h1,
.hero-content h1 span em {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  font-family: "PT Serif", serif;
}

/* Page 1 */

.page1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.page1-img1 {
  width: 90%;
}

.page1-img1 img {
  width: 100%;
  border-radius: 0px 4rem 4rem 0;
}

.page1-content {
  width: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1-content i {
  font-size: 2rem;
  margin: 12rem 0 0 2rem;
}

.page1-content h2,
.page1-content h2 span em {
  color: #000;
  font-size: 4rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  text-align: center;
}

.page1-content p {
  margin: 2rem 0;
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}

.page1-img2 {
  width: 90%;
}

.page1-img2 img {
  width: 100%;
  border-radius: 4rem 0 0 4rem;
  margin-top: 30rem;
}

/* Project Section   */

.projects {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.top-project {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden;
  z-index: 9;
}

.center-project {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.bottom-project {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  /* background-color: #000; */
  overflow: hidden;
}

.projects h2 {
  font-size: 20rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-h {
  bottom: 50%;
}

.bottom-h {
  top: -14% !important;
}

.content {
  position: absolute;
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
  color: #000;
}

.content h3,
.content-project-page h3 {
  font-size: 8vw;
  font-weight: 800;
  margin: 10rem 0 2rem 0;
}

.content .fltr-btn,
.content-project-page .fltr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.nav-btn.active {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.fltr-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.card {
  /* flex-grow: 1; */
  flex-basis: 30rem;
  background-color: #ffebeb;
  padding: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card.hide {
  display: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  padding: 1.5rem 2rem 2rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

.card-text {
  font-size: 1.8rem;
  color: #333;
}

/* Project Page */
.content-project-page {
  width: 100%;
  /* height: 100vh; */
  color: #000;
  /* position: relative; */
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.content-project-page h3 {
  font-size: 4vw;
  margin-bottom: 8rem;
}

.content-project-page .fltr-cards {
  flex-wrap: wrap;
}

/* Obsy */

/* Page 5 */

.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 8rem;
  /* background-color: #151515; */
}

.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 2vw;
}

.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 2px #000;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: red; */
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 2vw;
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 2px #000;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: red; */
  color: transparent;
  display: inline-block;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.footer {
  height: 20vh;
  width: 100%;
  /* background-color: #151515; */
  position: fixed;
  bottom: 0;
  padding-left: 28vw;
  padding-right: 2vw;
}

.footer h3 {
  font-size: 8vw;
  font-weight: 800;
  margin: 0rem 0 2rem 0;
  transition: all 0.3s ease;
}

.footer h3:hover {
  font-style: italic;
  -webkit-text-stroke: 2px #000;
  font-weight: 400;
  color: transparent;
}

/* .footer h2::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-weight: 500;
  font-family: "silk serif";
  left: -10%;
  top: 10%;
} */

.underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2vw;
}

.footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}

.footer-div h5 {
  font-size: 1vw;
  margin-bottom: 1vw;
  font-weight: 500;
}

.box {
  width: 20%;
}

.footer-div h6 {
  font-size: 1.4vw;
  font-weight: 500;
  /* margin: 0.2vh 0; */
}

.footer > h5 {
  font-weight: 500;
  font-style: 1vw;
}

/* Footer */

.footer {
  position: relative;
  top: 0%;
  height: 50vh;
  width: 100%;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-f-card {
  display: flex;
  gap: 1rem;
}

.upper-f-card .b-icon {
  font-size: 3.2rem;
}

.upper-f-card-body h4 {
  font-size: 1.8rem;
}

.upper-f-card-body p {
  font-size: 1.4rem;
}

.footer hr {
  width: 90%;
  margin: 4rem auto;
}

.middle-footer a img {
  width: 100%;
}

.copyR {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.main {
  padding-bottom: 8vw;
}

/* Team Page */

.team-page-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.team-page-one h1 {
  text-align: center;
  font-size: 4vw;
}

.team-page-one p {
  font-size: 1vw;
  text-align: center;
  width: 30%;
}

.team-img img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: 5px 30%;
  margin-top: 6rem;
  border-radius: 30px;
}

/* Team page profile section */

.team {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.team h2 {
  font-size: 4vw;
}

.team p {
  font-size: 1vw;
}

.team .row {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;
}

.column {
  /* float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px; */
  display: flex;
}

/* @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */

.column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.column .card img {
  width: 50%;
}

.container-card {
  padding: 0 16px;
}

.container-card::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-card .title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* About Us page*/

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.responsive-container-block.Container {
  max-width: 1320px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.mainImg {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  width: 48%;
}

.responsive-container-block.textSide {
  width: 48%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: 100;
}

.text-blk.heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.text-blk.subHeading {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.cards-about {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.card-about-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-about-item img {
  width: 40px;
}

.card-about-cont {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card-about-cont h3 {
  font-size: 2rem;
}

.card-about-cont p {
  font-size: 1.2rem;
}
